{% extends "base.html" %}

{% block content %}
<script>
    var cls = "container mb-5";
    var classToRemove = "main-pane-background";
    var ele = document.getElementsByClassName(cls)[0];
    var reg = new RegExp('(\\s|^)'+classToRemove+'(\\s|$)');
    ele.className=ele.className.replace(reg,' ');
</script>
<div style="width:100%; display:flex; flex-flow:column; align-items:center; padding-top:2rem;">
    <div style="padding:1.5rem; border-radius:10px; background: #00000066; box-shadow: 0 10px 24px hsla(0,0%,0%,0.05), 0 20px 48px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.1); box-shadow: 0px 0px 48px 10px hsl(102.5deg 56.25% 25.1%), 0px 0px 24px 2px hsl(102.77deg 54.02% 34.12%), 0px 0px 4px 1px hsl(103.78deg 50.68% 42.94%);">
        <h4 class="mb-4" style="text-align: center;">Register account</h4>

        {% if not _session.id %}
        <form action="/register?redirect={{ redirect }}" method="POST" style="display: flex; flex-flow: column; align-items: center;">
            <div class="form-field">
                <label for="register_nickname">Display name</label>
                <input type="text" name="register_nickname" class="form-control" aria-label="nickname" autocomplete="nickname" style="width: 15rem;">
            </div>
            <div class="form-field">
                <label for="register_email">Email</label>
                <input type="text" name="register_email" class="form-control" aria-label="email" autocomplete="email" style="width: 15rem;">
            </div>
            <div class="form-field">
                <label for="register_password">Password</label>
                <input type="password" name="register_password" class="form-control" aria-label="password" autocomplete="new-password" style="width: 15rem;">
            </div>
            <div class="form-field">
                <div class="g-recaptcha" data-sitekey="{{ CONFIG.recaptcha_public }}"></div>
            </div>
            <div class="form-field">
                <button class="mc-button__primary mc-button__badger--green mc-get-button" type="submit">
                    <span class="mc-button__text mc-button__header">
                        Register
                    </span>
                </button>
            </div>
        </form>

        <div>
            Already have an account? <a href='/login?redirect={{ redirect }}'>Login</a> instead!
        </div>
        {% else %}
        <div class="row d-flex">
            You are already logged in as {{ _session.username }}!
        </div>
        <form action="/logout?redirect=register" method="POST" class="pt-2 pt-sm-0">
            <button class="mc-button__primary mc-button__badger--green mc-get-button" type="submit">
                <span class="mc-button__text mc-button__header">
                    Log out
                </span>
            </button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
